/* tipografías de Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;1,400&display=swap');


/* Custom property */
:root{
  --primario: #393232;
  --fondo: #fff9f1;
  --acento: #10AFAB;
  --secundario: #F08F98;

  /* Sobreescribir variable de Bootstrap */
  --bs-body-bg: var(--secundario);
  --bs-body-font-weight: 400; /* el peso tipográfico base del body es 400 */
  --bs-font-weight-bold: 600; /* reemplaza el peso de fw-bold que usa Bootstrap automáticamente (700) por 600 que importé */
}

/* resetear */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general */
body{
  font-family: 'Poppins', sans-serif;
  background-color: var(--fondo);
  color: var(--primario);
}


/* títulos */
h1,h2,h4{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--acento)
}

h3{
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: var(--secundario)
}

/* H2 responsivo con clamp */
h2{
  font-size: clamp(1.5rem, 2.3vw, 2.6rem);
}

/* banner intro */
.texto-destacado{
  background-color: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 .75rem 1.5rem rgba(0,0,0,.12);
}

/* img */
img.img-fluid{
  transition: transform .25s ease;
}
img.img-fluid:hover{
  transform: translateY(-4px);
}

/* footer */
footer{
  font-size: .95rem;
}

/* Botones que no ocupan todo el ancho */
.btn-auto {
    width: auto !important;
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
}

#about-title{
    font-size: 1.2rem;
    font-weight: 600;      
    font-style: italic;     
    color: var(--primario);
}


/* RESPONSIVE */
@media (max-width: 768px){
  header .container-md{
    flex-direction: column;
    align-items: stretch;
  }
  
  header img{ 
    max-height: 260px;
    object-fit: cover;
  }
}
